<div class="topNav {{{theme}}}">
    <div class="row">
        <div class="col col-sm-6 col-xs-12">
            <p class="topNav-title">
                Today is --WEEK_DAY_NAME-- and the month is --MONTH_NAME--
            </p>
        </div>

        <div class="col col-sm-6 col-xs-12">
            <p class="topNav-subTitle">
                LEVO HAS OFFICES IN SYDNEY NSW AND MELBOURNE VIC.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-12">
            <ul class="evennav-list evennav-nojs topNav-list">
                {{#each items}}
                    <li class="evennav-item topNav-item">
                        <a href="#" class="evennav-btn topNav-btn">
                            <span class="evennav-btninner topNav-itemText">
                                {{title}}
                            </span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>