$icon-font-path: "../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap";
//@import "mixins";

@import "../../topnav/scss/topnav";

@font-face {
  font-family: "OpenSans";
  src: url('../../../assets/fonts/OpenSans-Bold.ttf') format('truetype');
  src: url('../../../assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  src: url('../../../assets/fonts/OpenSans-Italic.ttf') format('truetype');
  src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
  padding-top: 50px;
  font-family: OpenSans sans-serif;
}


// style guide styles
.sg-titleBox {
  padding: 40px 15px;
  text-align: center;
}

.sg-title {
    color: rgb(69.8%, 13.3%, 13.3%);
}